 th, td {
  border: 1px solid;
  padding: 25px;
}

 table {
  border-collapse: collapse;
 }

 tr:nth-child(even)
 {
  background-color: aquamarine;
 }

 th:nth-child(even){
  background-color: aquamarine;
 }
 td:nth-child(even){
  background-color: aquamarine;
 }